@page
@model WebApp.Pages_Question.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QuestionItself)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionItself)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Quiz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Quiz.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.QuestionId">Edit</a> |
    <a asp-page="./Index" asp-route-id="@Model.Question.QuizId">Back to List</a>
</div>
